################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Nexmuv.Biometria.Websocket/FileContentIndex/4b127b54-086c-4175-bc9f-6719ca48ce63.vsidx
/.vs/Nexmuv.Biometria.Websocket/FileContentIndex/647d3199-1a65-45d7-9c97-ca90fb4a5012.vsidx
/.vs/Nexmuv.Biometria.Websocket/v17/.suo
/Nexmuv.Biometria.Websocket/obj/Release/DesignTimeResolveAssemblyReferencesInput.cache
/Nexmuv.Biometria.Websocket/obj/Release/Nexmuv.Biometria.Websocket.csproj.AssemblyReference.cache
/.vs/Nexmuv.Biometria.Websocket/FileContentIndex/4cb446af-7c94-487e-9659-80dad114c020.vsidx
/.vs/Nexmuv.Biometria.Websocket/FileContentIndex/8c2dab41-c195-4c82-809f-96b54ca7d54c.vsidx
